{%extends 'base.html'%}

{% block content %}
    <!-- END nav -->
   <section>

    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('https://vecinalnorte3.sfo2.digitaloceanspaces.com/images/familineav2.png');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Familinea</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Inicio<i class="ion-ios-arrow-forward"></i></a></span> <span>Familinea <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section ftco-no-pb">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/5b339ae7-6ede-4992-9cd7-ad55ebd9c14c.jfif);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Maximiliano Medel</h3>
								<span class="position mb-2">Medio Mayor</span>
								<div class="faded">
									<p>descripcion.</p>
									
		        	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/9dfbe712-bbaa-4ce3-80a2-460909369b6d.jfif);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Luis Guerra</h3>
								<span class="position mb-2">Medio Menor</span>
								<div class="faded">
									<p>Descripción.</p>
				
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/190f2a56-8b8a-4827-b505-d074f3e47b49.jfif);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Daniela Turra</h3>
								<span class="position mb-2">Medio Mayor</span>
								<div class="faded">
									<p>descripcion.</p>

	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/809ae614-af5a-4faf-9703-545d71b80c33.jfif);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Maximiliano Salazar </h3>
								<span class="position mb-2">Medio Mayor</span>
								<div class="faded">
									<p>Descripción</p>
	              				</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/7db8bcbd-89ad-49df-be37-770e2d3ba446.jfif);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Nombre niño </h3>
								<span class="position mb-2">nivel</span>
								<div class="faded">
									<p>Descripción</p>
	              				</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/e09fecc7-eed1-4ea5-871d-e2dcc86e40f9.jfif);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Nombre Niño</h3>
								<span class="position mb-2">nivel</span>
								<div class="faded">
									<p>descripción.</p>

	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/60098f07-e121-4624-9ffe-b40e62a9eaa9.jfif);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Nombre Niño</h3>
								<span class="position mb-2">nivel</span>
								<div class="faded">
									<p>descripción.</p>

	              </div>
							</div>
						</div>
					</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		
{% endblock %}