{%extends 'base.html'%}
    <!-- END nav -->
   {% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('https://vecinalnorte3.sfo2.digitaloceanspaces.com/images/nuestrojardin1.png');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Nuestro Jardín</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Inicio <i class="ion-ios-arrow-forward"></i></a></span> <span>Nuestro Jardín <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row">
					<div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
						<div class="text px-4 ftco-animate">
	          				<h2 class="mb-4">Jornada de Atención</h2>
								<p>Lunes a Viernes de 8:30 a 16:30 horas.</p>
								<p>Extensión horaria  Lunes a Viernes de 16:30 a 19:00 horas.</p>
								<p>Niveles Educativos:</p>
								<ol>
									<li>Sala cuna: 4 meses a 2 años de edad. 
									<li>Sala cuna mayor :12 meses  a 2 años de edad
									<li>Medio Menor:  de 2 a 3 años de edad
									<li>Medios: De 2 a 4 años de edad	
									<li>Medio Mayor: De 3 a 4 años de edad. 
								</ol>
							
						</div>
					</div>
			<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
          		<h2 class="mb-4"><span>La educación que </span> anhelamos</h2>
						<p>Una educación intercultural que  revindique, valore y comparta pautas de crianza, saberes, 
						cosmovisiones, tradiciones y costumbres  de las comunidades locales, con la apertura  e incorporación 
						 de otros elementos y contenidos culturales que  abran oportunidades  y enriquezcan los aprendizajes de
						  nuestros niños y niñas. </p>

						<p>Una educación integral, que  abarque todas las dimensiones  y necesidades del niño y la niña: El cuerpo,
						 el alma, lo cognitivo, lo social, lo emocional, todo ello en interacción con un entorno cultural, familiar,
						  institucional y de pares  diversos, que potencien su autoestima e identidad con un enfoque transformador, 
						  dialogante y afectivo. </p>
				
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/images/intercultural_bg2.png);" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section heading-section-black ftco-animate">
            <h2 class="mb-4"><span>Nuestro sello pedagógico</span></h2>

          </div>
        </div>	
    	</div>
    </section>

    <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	
            <h2 class="mb-4"><span>Intercultural</span> </h2>
            <p>
            Nuestro Jardín Infantil y sala cuna “Vecina Norte III” sustenta su quehacer educativo bajo un sello “intercultural”, 
            ya que busca responder  a las características diversas que componen nuestra comunidad educativa,   característica reconocida
             y valorada por gran parte de sus integrantes. 
            </p>

            <p>
            Nuestra propuesta pedagógica  buscará generar oportunidades de aprendizajes en la pertinencia e identidad cultural 
            de los niños y niñas a partir de sus familias de origen, esto con la finalidad de fortalecer su identidad y desarrollar 
            formas de convivencia que promuevan el respeto por las diferencias y la no discriminación a partir de la validación y 
            valoración de otro como legítimo otro,  promoviendo a su vez la posibilidad de conocer y generar expresiones culturales 
            compartidas y diversas, aprendiendo a valorar los conocimientos que les son cercanos, a relacionarse con mundos distintos 
            al propio,: lenguas, valores , tradiciones, cosmovisiones, entre otros. 
            </p>

          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/images/valores_bg.png);" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section heading-section-black ftco-animate">
            <h2 class="mb-4"><span>Nuestros Valores </span></h2>
          </div>
        </div>	
    	</div>
    </section>
    <section class="ftco-section testimony-section bg-light">
      <div class="container">

        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/images/respeto.png)">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Parte desde el respeto por sí mismo hacia los otros y también por el entorno natural y cultural, en coherencia con los derechos y deberes humanos y otras formas de vida.</p>
                    <p class="name"><strong>Respeto</strong></p>
                    
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/images/buen_humor.png)">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Se trata de tener una actitud positiva frente a los desafíos que se nos presentan en la vida, esto ocurre cuando nuestra autoestima es fortalecida a través del reconocimiento y legitimación del “otro como un legítimo otro” con  la posibilidad de experimentar sentimientos de goce, afectividad, diversión y alegría entre todos los miembros de la comunidad educativa.</p>
                    <p class="name"><strong>Buen Humor</strong></p>
                    
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/images/colaboracion.png)">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Buscamos trabajar juntos con nuestras habilidades y talentos: Equipos educativos, 
                    familias, niños, niñas y entes comunitarios, dónde el esfuerzo común que implica la colaboración 
                    nos acerque al concepto de sinergia  y nos enriquezca en las diferencias. </p>
                    <p class="name"><strong>Colaboración</strong></p>
                    
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                  <div class="user-img mr-4" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/images/reconocimiento.png)">
                  </div>
                  <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Nos permite identificar o conocer determinadas características personales, culturales, 
                    sociales y físicas de cada individuo, respetando sus cualidades o rasgos. Dentro de este  valor 
                    también se encuentra el auto-reconocimiento,  en el cual, cada  persona se visualiza a sí mismo de 
                    manera distinta e importante. </p>
                    <p class="name"><strong>Reconocimiento</strong></p>
                    <span class="position"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {%endblock%}
