{%extends 'base.html'%}
    <!-- END nav -->
   {% block content %}
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('https://vecinalnorte3.sfo2.digitaloceanspaces.com/images/recursos.png');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Recursos Pedagógicos</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Inicio<i class="ion-ios-arrow-forward"></i></a></span> <span>Recursos Pedagógicos <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 course d-lg-flex ftco-animate">
						<div class="img" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/1677626-kids/png/001-baby%20stroller.png);"></div>
						<div class="text bg-light p-4">
							<h3><a href="/salacuna">Salacuna</a></h3>
							
							<p>Materiales, recursos y videos para poder trabajar y jugar con nuestros niños y niñas en casa</p>
						</div>
					</div>
          <div class="col-md-6 course d-lg-flex ftco-animate">
						<div class="img" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/1677626-kids/png/012-cubes.png);"></div>
						<div class="text bg-light p-4">
							<h3><a href="/mediomenor">Medio Menor</a></h3>
							
							<p>Materiales, recursos y videos para poder trabajar y jugar con nuestros niños y niñas en casa</p>
						</div>
					</div>

          <div class="col-md-6 course d-lg-flex ftco-animate">
						<div class="img" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/1677626-kids/png/027-robot.png);"></div>
						<div class="text bg-light p-4">
							<h3><a href="/medios">Medios</a></h3>
							
							<p>Materiales, recursos y videos para poder trabajar y jugar con nuestros niños y niñas en casa</p>
						</div>
					</div>
          <div class="col-md-6 course d-lg-flex ftco-animate">
						<div class="img" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/1677626-kids/png/019-kids.png);"></div>
						<div class="text bg-light p-4">
							<h3><a href="/mediomayor">Medio Mayor</a></h3>
							
							<p>Materiales, recursos y videos para poder trabajar y jugar con nuestros niños y niñas en casa</p>
						</div>
					</div>
           <div class="col-md-6 course d-lg-flex ftco-animate">
						<div class="img" style="background-image: url(https://vecinalnorte3.sfo2.digitaloceanspaces.com/1677626-kids/png/034-ufo.png);"></div>
						<div class="text bg-light p-4">
							<h3><a href="/cuentos">Cuentos </a></h3>
							
							<p>Materiales, recursos y videos para poder trabajar y jugar con nuestros niños y niñas en casa</p>
						</div>
				</div>
			</div>
		</section>

		{%endblock %}